@model List<Libs.Entity.Field>

@section Styles {
    <link rel="stylesheet" href="/assets/css/style.css">
}

<main class="container">
    <section class="nav-hero-logobar">
        <div class="air3-grid-container gap0">
            <div class="span-md-6 span-lg-5 span-12 info-holder position-relative nav-hero-logobar-content">
                <h1 data-qa="title" class="hero-title display-rebrand mb-3" data-v-344763af="">
                    <span data-v-344763af="">How work <br> should work</span>
                </h1>
                <p data-qa="subtitle" class="subtitle" data-v-344763af="">
                    <span data-v-344763af="">
                        Forget the old
                        rules. You can have the&nbsp;best people. Right now. Right here.
                    </span>
                </p>
                <div class="hero-logo-cta d-flex flex-wrap mb-0" data-v-344763af="">
                    <a href="/nx/signup/" name="hero-home-get-started "
                       class="up-n-link air3-btn air3-btn-primary air3-btn-get-started text-white">
                        Get started
                    </a>
                    <section class="logo-holder">
                        <div data-qa-section="logobar"
                             class="logobar-skinny-section d-one-row dark-container vs-bg-white">
                            <div data-qa="logobar-title" class="title">
                                <p class="logobar-title logobar-title mb-3"><span>Trusted by</span></p>
                            </div>
                            <div data-qa="logo-items" class="xl-screen-container logos air3-grid-container gap-10">
                                <figure class="">
                                    <img src="https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload/c_fit/general/logobar/dark/microsoft.svg"
                                         data-qa="microsoft"
                                         data-src="https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload/c_fit/general/logobar/dark/microsoft.svg"
                                         alt="Microsoft worked with Upwork to collaborate on an integrated solution that helps enterprises work with freelancers at scale powered by Microsoft 365 and Upwork Enterprise."
                                         class="logo microsoft first-image lazyloaded">
                                </figure>
                                <figure class="">
                                    <img src="https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload/c_fit/general/logobar/dark/airbnb.svg"
                                         data-qa="airbnb"
                                         data-src="https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload/c_fit/general/logobar/dark/airbnb.svg"
                                         alt="Airbnb works with Upwork to post more than 10,000 projects on Upwork."
                                         class="logo airbnb lazyloaded">
                                </figure>
                                <figure class="">
                                    <img src="https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload/c_fit/general/logobar/dark/bissell.svg"
                                         data-qa="bissell"
                                         data-src="https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload/c_fit/general/logobar/dark/bissell.svg"
                                         alt="Bissell works with Upwork as a staffing alternative to their hiring process."
                                         class="logo bissell lazyloaded">
                                </figure>
                            </div>

                        </div>
                    </section>
                </div>

            </div>
            <div class="span-md-6 span-lg-7 span-12 nav-hero-logobar-col" data-v-344763af="">
                <img src="/assets/img/visitor-nav-hero@2x.png"
                     class="cld-responsive nav-hero-logo-mobile responsive-img" alt="" width="auto" height="auto">


            </div>
        </div>

    </section>
    <section class="section-row">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="bg-items">
                    <a class="d-flex align-items-center">
                        <img src="https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload/brontes/sub-hero-tiles/upwork-updates-green-black.svg"
                             alt="Explore new features to achieve hire intelligence" class="mr-6x img-left">
                        <div class="d-flex w-100 flex-column mt-0 mt-md-4x">
                            <p class="m-0"><span>Do more with Uma™, Upwork's Mindful AI</span></p>

                        </div>
                    </a>
                </div>

            </div>
            <div class="col-12 col-md-4">
                <div class="bg-items">
                    <a class="d-flex align-items-center">
                        <img src="https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload/brontes/sub-hero-tiles/uma-black-with-style.svg"
                             alt="Explore new features to achieve hire intelligence" class="mr-6x img-left">
                        <div class="d-flex w-100 flex-column mt-0 mt-md-4x">
                            <p class="m-0">
                                <span>
                                    Try the new
                                    Job Post Generator

                                </span>
                            </p>

                        </div>
                    </a>
                </div>

            </div>
            <div class="col-12 col-md-4">
                <div class="bg-items">
                    <a class="d-flex align-items-center">
                        <img src="https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload/brontes/sub-hero-tiles/job-post.svg"
                             alt="Explore new features to achieve hire intelligence" class="mr-6x img-left">
                        <div class="d-flex w-100 flex-column mt-0 mt-md-4x">
                            <p class="m-0">
                                <span>
                                    Explore new features to achieve
                                    hire intelligence
                                </span>
                            </p>

                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>



    <section class="list-category">
        <h1 class="browse-talent-categories mb-3x">
            Browse talent by category
        </h1>
        <div class="browse-jobs-label">
            Looking for work?
            <a href="#" class="up-n-link">Browse jobs</a>
        </div>
        <div class="list-category-container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-12 col-md-3 mb-2">

                        <a href="/field/@item.Id">
                            <div class="bg-items-category">
                                <div class="category-pill-title ">
                                    @item.Name
                                </div>
                                <div class="category-pill-details pt-3x d-flex align-items-center">
                                    <div class="air3-icon sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" aria-hidden="true"
                                             viewBox="0 0 24 24" role="img">
                                            <path fill="var(--icon-color, #108a00)" fill-rule="evenodd"
                                                  vector-effect="non-scaling-stroke" stroke="var(--icon-color, #108a00)"
                                                  stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                                  d="M13.142 3.813l1.782 4.802 4.927.275c.243.013.477.104.672.26.194.156.338.37.415.615.077.245.082.508.015.756a1.288 1.288 0 01-.391.633L16.726 14.4l1.282 4.993c.06.252.047.517-.038.76a1.285 1.285 0 01-.437.606c-.2.15-.439.234-.684.24a1.174 1.174 0 01-.693-.21L12 17.976 7.854 20.77a1.175 1.175 0 01-.69.214 1.178 1.178 0 01-.684-.233 1.283 1.283 0 01-.441-.599 1.36 1.36 0 01-.047-.757l1.272-4.972-3.826-3.268a1.288 1.288 0 01-.391-.633 1.349 1.349 0 01.015-.756 1.28 1.28 0 01.415-.615c.195-.156.429-.247.672-.26l4.927-.275 1.782-4.802c.092-.24.25-.446.454-.59a1.177 1.177 0 011.376-.001c.204.145.361.35.454.59z"
                                                  clip-rule="evenodd"></path>
                                        </svg>
                                    </div>
                                    <span>4.85/5</span>
                                    <span>1853 skills</span>
                                </div>
                            </div>
                        </a>

                    </div>
                }

            </div>
        </div>
    </section>
    <section class="banner-bottom">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="enterprise-container text-inverse">
                    <div>
                        <p class="enterprise-headline">
                            Enterprise Suite
                        </p>
                        <h1 class="text-inverser display-reband enterprise-title">
                            This is how
                            <br> <span class="c-mint">
                                good companies<br>find
                                good company.
                            </span>
                        </h1>
                        <span class="enterprise-subtitle">
                            Access the top 1% of talent on Upwork, and a full suite of hybrid workforce management
                            tools. This is how innovation works now.
                        </span>
                    </div>
                    <div class="enterprise-description-list">
                        <div class="ent-more-details">
                            <div class="d-flex mt-4x align-items-top">
                                <img alt="vsuc_Skills_11"
                                     src="https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload/f_auto,q_auto/brontes/for-enterprise/Skills.svg"
                                     class="mr-3x more-details-item-icon c-mint">
                                Access expert talent to fill your skill gaps
                            </div>
                            <div class="d-flex mt-3x align-items-top">
                                <img alt="vsuc_Control_12"
                                     src="https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload/f_auto,q_auto/brontes/for-enterprise/Briefcase.svg"
                                     class="mr-3x more-details-item-icon c-mint">
                                Control your workflow: hire, classify and pay your talent
                            </div>
                            <div class="d-flex mt-3x align-items-top">
                                <img alt="vsuc_Support_13"
                                     src="https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload/f_auto,q_auto/brontes/for-enterprise/Support.svg"
                                     class="mr-3x more-details-item-icon c-mint">
                                Partner with Upwork for end-to-end support
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-space-between learn-more">
                            <a href="/enterprise/"
                               class="up-n-link air3-btn air3-btn-secondary c-forest enterprise-learn-more-btn">
                                Learn more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <img src="/assets/img/enterprise-2023.webp" class="img-fluid" alt="">
            </div>
        </div>
    </section>


</main>

@section Scripts {

}