@inject AskMentor.Helper.Helper _helper;

@if (ViewBag.Auth == "Auth")
{
    <header>
        <div class="top-header">
            <div class="nav-container">
                <div class="nav-header-wrapper">
                    <div class="nav-header d-flex align-items-center">
                        <a href="/" target="_self" class="up-n-link nav-brand d-flex" tabindex="2">
                            <span class="nav-logo">
                                <img src="/assets/img/Upwork-Logo-1.png" class="img-fluid" />
                            </span>
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </header>
}
else
{
    <header>
        <div class="top-header">
            <div class="nav-container">
                <div class="nav-header-wrapper">
                    <div class="nav-header d-flex align-items-center">
                        <a href="/" target="_self" class="up-n-link nav-brand d-flex" tabindex="2">
                            <span class="nav-logo">
                                <img src="/assets/img/Upwork-Logo-1.png" class="img-fluid" />
                            </span>
                        </a>

                    </div>
                </div>
                <div id="nav-main" class="nav-collapse">
                    <nav class="d-flex nav-right align-items-center">
                        <ul class="d-flex align-items-center">
                            <li data-sub="find-talent">
                                <a href="javascript:void(0)">
                                    Find talent
                                    <span>
                                        <i class="fa-solid fa-chevron-down"></i>
                                    </span>
                                </a>
                                <div class="sub-menu" data-sub="find-talent">

                                    <div class="content-sub">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <a class="bg-find-work" href="#">
                                                    <h1 class="heading-sub"> Find talent</h1>
                                                    <p class="sub-text">
                                                        Learn why Upwork has the right opportunities for you.
                                                    </p>
                                                </a>

                                            </div>
                                            <div class="col-md-3">
                                                <a class="bg-find-work" href="#">
                                                    <h1 class="heading-sub"> Find talent</h1>
                                                    <p class="sub-text">
                                                        Learn why Upwork has the right opportunities for you.
                                                    </p>
                                                </a>

                                            </div>
                                            <div class="col-md-3">
                                                <a class="bg-find-work" href="#">
                                                    <h1 class="heading-sub"> Find talent</h1>
                                                    <p class="sub-text">
                                                        Learn why Upwork has the right opportunities for you.
                                                    </p>
                                                </a>

                                            </div>
                                            <div class="col-md-3">
                                                <a class="bg-find-work" href="#">
                                                    <h1 class="heading-sub"> Find talent</h1>
                                                    <p class="sub-text">
                                                        Learn why Upwork has the right opportunities for you.
                                                    </p>
                                                </a>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li data-sub="find-work">
                                <a href="javascript:void(0)">
                                    Find work
                                    <span>
                                        <i class="fa-solid fa-chevron-down"></i>
                                    </span>
                                </a>
                                <div class="sub-menu" data-sub="find-work">

                                    <div class="content-sub">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <a class="bg-find-work" href="#">
                                                    <h1 class="heading-sub">Ways to earn</h1>
                                                    <p class="sub-text">
                                                        Learn why Upwork has the right opportunities for you.
                                                    </p>
                                                </a>

                                            </div>
                                            <div class="col-md-3">
                                                <a class="bg-find-work" href="#">
                                                    <h1 class="heading-sub">Ways to earn</h1>
                                                    <p class="sub-text">
                                                        Learn why Upwork has the right opportunities for you.
                                                    </p>
                                                </a>

                                            </div>
                                            <div class="col-md-3">
                                                <a class="bg-find-work" href="#">
                                                    <h1 class="heading-sub">Ways to earn</h1>
                                                    <p class="sub-text">
                                                        Learn why Upwork has the right opportunities for you.
                                                    </p>
                                                </a>

                                            </div>
                                            <div class="col-md-3">
                                                <a class="bg-find-work" href="#">
                                                    <h1 class="heading-sub">Ways to earn</h1>
                                                    <p class="sub-text">
                                                        Learn why Upwork has the right opportunities for you.
                                                    </p>
                                                </a>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li data-sub="why-upwork">
                                <a href="javascript:void(0)">
                                    Why Upwork
                                    <span>
                                        <i class="fa-solid fa-chevron-down"></i>
                                    </span>
                                </a>
                                <div class="sub-menu" data-sub="why-upwork">

                                    <div class="content-sub">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <a class="bg-find-work" href="#">
                                                    <h1 class="heading-sub"> Why Upwork</h1>
                                                    <p class="sub-text">
                                                        Learn why Upwork has the right opportunities for you.
                                                    </p>
                                                </a>

                                            </div>
                                            <div class="col-md-3">
                                                <a class="bg-find-work" href="#">
                                                    <h1 class="heading-sub"> Why Upwork</h1>
                                                    <p class="sub-text">
                                                        Learn why Upwork has the right opportunities for you.
                                                    </p>
                                                </a>

                                            </div>
                                            <div class="col-md-3">
                                                <a class="bg-find-work" href="#">
                                                    <h1 class="heading-sub"> Why Upwork</h1>
                                                    <p class="sub-text">
                                                        Learn why Upwork has the right opportunities for you.
                                                    </p>
                                                </a>

                                            </div>
                                            <div class="col-md-3">
                                                <a class="bg-find-work" href="#">
                                                    <h1 class="heading-sub"> Why Upwork</h1>
                                                    <p class="sub-text">
                                                        Learn why Upwork has the right opportunities for you.
                                                    </p>
                                                </a>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    Enterprise

                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="nav-left nav-align d-flex align-items-center">
                        <div class="main-search">
                            <div class="container-search-header">
                                <form asp-action="Search" asp-controller="Home" class="form-search">
                                    <div class="icon-search">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </div>
                                    <div class="left-search">
                                        <input type="text" name="q" class="search-input" placeholder="Search">
                                    </div>
                                    <button class="right-button" type="button">
                                        <div class="button-choose">
                                            <span class="text-choose">Talent</span>
                                            <span class="icon-choose"><i class="fa-solid fa-chevron-down"></i></span>
                                            <ul class="choose-options" id="optionTalent">
                                                <li>
                                                    <div class="main-options" data-cv="Talent">
                                                        <div class="container-options">
                                                            <div class="icon-list">
                                                                <i class="fa-solid fa-users"></i>
                                                            </div>
                                                            <div class="text-option">
                                                                <p>Talent</p>
                                                                <span class="text-start">
                                                                    Hire professionals and agencies
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </li>
                                                <li>
                                                    <div class="main-options" data-cv="Projects">
                                                        <div class="container-options">
                                                            <div class="icon-list">
                                                                <i class="fa-solid fa-clipboard-list"></i>
                                                            </div>
                                                            <div class="text-option">
                                                                <p>Projects</p>
                                                                <span>
                                                                    Buy ready-to-start services
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="main-options" data-cv="Jobs">
                                                        <div class="container-options">
                                                            <div class="icon-list">
                                                                <i class="fa-solid fa-briefcase"></i>
                                                            </div>
                                                            <div class="text-option">
                                                                <p>Jobs</p>
                                                                <span>
                                                                    Apply to jobs posted by clients
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </button>
                                </form>

                            </div>
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {

                            <div class="dropdown">
                                <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    <!--<img width="30" height="30" class="rounded-3" src="https://i.pravatar.cc/60">-->
                                    @User.Identity.Name
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="/Home/EditProfile">Profile</a></li>
                                    <li><a class="dropdown-item" href="/Auth/Logout">Đăng xuất</a></li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <a href="/Auth/Login" class="up-n-link login">Log in</a>
                            <a href="/Auth/Register" class="up-n-link nav-v-btn ">Sign up</a>
                        }

                    </div>
                </div>
            </div>
        </div>

        <div class="bottom-header">
            <ul class="nav-bottom d-flex">
                @foreach (var item in _helper.GetFields(0, 5))
                {
                    <li>
                        <a href="/field/@item.Id">@item.Name</a>
                    </li>
                }
                <li class="position-relative" id="moreWork">
                    <a href="javascript:void(0)" class="more">
                        More
                        <span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </span>
                    </a>
                    <ul class="nav-dropdown-menu">
                        @foreach (var item in _helper.GetFields(5, 5))
                        {
                            <li>
                                <a href="/field/@item.Id">@item.Name</a>
                            </li>
                        }
                        <li><a href="" class="up-n-link nav-menu-item">See all specializations</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </header>
}

<script>
    $(".nav-dropdown-menu").hide();
    $(document).ready(function () {
        $(".button-choose").click(function (event) {
            $("#optionTalent").fadeToggle(300);
            event.stopPropagation();
        });

        $(document).click(function () {
            $("#optionTalent").fadeOut(300);
        });
        $(".main-options").on("click", function () {
            var dataCV = $(this).attr("data-cv");
            console.log("Đã click vào: " + dataCV);
            $(".text-choose").text(dataCV)
        });
        $("#moreWork").mouseenter(function () {
            $(this).find(".nav-dropdown-menu").slideDown();
        });

        $("#moreWork").mouseleave(function () {
            $(this).find(".nav-dropdown-menu").slideUp();
        });
        $("li[data-sub]").mouseenter(function () {
            var dataSub = $(this).attr("data-sub");
            $(this).find(".fa-chevron-down").addClass("active");
            $(".sub-menu[data-sub=" + dataSub + "]").slideDown();
        });

        $("li[data-sub]").mouseleave(function () {
            var dataSub = $(this).attr("data-sub");
            $(this).find(".fa-chevron-down").removeClass("active");
            $(".sub-menu[data-sub=" + dataSub + "]").slideUp();
        });

    });
</script>