@section Styles {
    <link rel="stylesheet" href="/assets/css/login.css">
}
<div id="app_jquery" class="container text-center" style="margin-top:6em; margin-bottom:20em">
    <div class="container d-flex justify-content-around">
        <p class="btn btn-outline-primary" id="backState">Back</p>
        <p class="btn btn-outline-primary" id="nextState">Next</p>
    </div>

    <div id="state1">
        <div class="p-2">
            <label class="form-label">Choose a career field</label>
            <select class="form-control" id="fieldSelect">
                <option selected disabled value="0">--choose--</option>
            </select>
        </div>
    </div>

    <div id="state2" style="display: none;">
        <div class="p-2">
            <label class="form-label">Choose a Topic</label>
            <select class="form-control" id="topicSelect">
                <option selected disabled value="0">--choose--</option>
            </select>
        </div>
    </div>

    <div id="state3" style="display: none;">
        <div class="p-2">
            <label for="certificate" class="form-label btn btn-secondary">Certificate / CV</label>
            <input class="d-none" type="file" id="certificate" accept="application/pdf" />
            <br />
            <img style="width:15em; height:auto" id="certificateImg" src="" style="display: none;" />
        </div>
        <p class="btn btn-success" id="saveBtn">Save</p>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var state = 1;
            var dataUser = {
                fileId: 0,
                topicId: 0,
                certificate: "",
                email: localStorage.getItem("email")
            };

            function initData() {
                $.getJSON("/api/Field", function (res) {
                    res.data.forEach(function (item) {
                        $('#fieldSelect').append(new Option(item.name, item.id));
                    });
                });

                $.getJSON("/api/Topic", function (res) {
                    res.data.forEach(function (item) {
                        $('#topicSelect').append($('<option>', {
                            value: item.id,
                            text: item.name,
                            'data-fieldId': item.fieldId
                        }));
                    });
                });
            }

            initData();

            $('#fieldSelect').change(function () {
                dataUser.fileId = $(this).val();
                $('#topicSelect option').each(function () {
                    $(this).toggle($(this).data('fieldid') == dataUser.fileId || $(this).val() === "0");
                });
            });

            $('#topicSelect').change(function () {
                dataUser.topicId = $(this).val();
            });

            $('#certificate').change(function (event) {
                var file = event.target.files[0];
                var formData = new FormData();
                formData.append("file", file);

                $.ajax({
                    url: "/api/Authencation/upload_certificate",
                    method: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (res) {
                        dataUser.certificate = res.data;
                        $('#certificateImg').attr('src', res.data).show();
                    }
                });
            });

            $('#backState').click(function () {
                if (state > 1) {
                    state--;
                    updateState();
                }
            });

            $('#nextState').click(function () {
                if ((state === 1 && dataUser.fileId === "0") || (state === 2 && dataUser.topicId === "0")) {
                    return;
                }
                if (state < 3) {
                    state++;
                    updateState();
                }
            });

            $('#saveBtn').click(function () {
                $.ajax({
                    url: '/api/Authencation/update_user',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        Email: dataUser.email,
                        FileId: dataUser.fileId,
                        TopicId: dataUser.topicId,
                        certificate: dataUser.certificate
                    }),
                    success: function () {
                        window.location.href = "/";
                    }
                });
            });

            function updateState() {
                console.log('Updating state to:', state); 
                $('#state1, #state2, #state3').hide();
                $('#state' + state).show();
            }

            updateState();
        });
    </script>
}

